@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("paneles3.png") center / cover no-repeat fixed,
  linear-gradient(135deg, #DFF2DF 0%, #DFF2F1 100%);
  font-family: "Inter", system-ui, sans-serif;
  color: #FFFFFF;
}

.wrapper{
  width: 600px;
  height: 812px;
  background: linear-gradient(135deg, #69B469 0%, #34CFC0 100%);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.logo {
  background: linear-gradient(180deg, #F8C708, #EF8D16);
  width: 200px;
  border-radius: 25px;
}



@supports (-webkit-touch-callout: none){
  body{ background-attachment: scroll; }
}