@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Quitarle efectos a todo */
* {
  margin: 0;
  padding: 0;
}

/* Background */
body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DBE2ED;
  font-family: "Inter", system-ui, sans-serif;
  color: #FFFFFF;
}

/* Contenedor de color gradiente */
.wrapper{
  width: 600px;
  height: 812px;
  background: linear-gradient(135deg, #171F31 0%, #455986 100%);
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  font-size: 0.95rem;
}

/* Posicion contenedor logo */
.logo {
  display: flex;
  justify-content: center;
}

/* Color contenedor imagen */
.logo img{
  background: linear-gradient(180deg, #87417A, #34192F);
  width: 80px;
  height: 80px;
  border-radius: 20px;
  padding: 30px;
  margin-top: 40px;
}

/* titulo iniciar sesion */
.titulo-login {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 15px;
}

/* Contenedor de no tienes cuenta? */
.campo-registro {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 30px;
  font-size: 0.95rem;
  opacity: 0.8;
}

/* Links color */
a {
  color: white;
}

/* links efecto */
a:hover {
  color: #d178c1;
  text-decoration: none;
}

/* estructura de formulario */
.formulario-login {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

/* Contenedor que tiene el icono y el input */
.icono-input-correo,
.icono-input-register {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 15px;
  border: 3px solid #b1b0b0;
  border-radius: 15px;
}

/* Color y distancia icono */
i {
  margin-right: 10px;
  color: #adb1ae;
  
}

/* Texto que esta en el input invisible */
::placeholder{
  color: #999d9a
}
/* Input estilos */
.login-correo,
.login-contraseña {
  width: 100%;
  border: none;
  outline: none;
  color: purple; /*Texto cuando el usuario escribe */
  font-size: 0.95rem;
}

.campo-email-login {
  margin-bottom: 30px;
}

.campo-contraseña-login {
  margin-bottom:20px;
}

/* Contenedor checkbox, link, label */
.campo-recordar-login{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  margin-bottom: 50px;
}

/* Checkbox */
.checkbox-login {
  width: 0.95rem;
  height: 0.95rem;
  accent-color: white;
  vertical-align: middle;
  cursor: pointer;
}
/* Poner el link a la derecha */
.campo-recordar-login .forgot-login {
  margin-left: auto;
}

/* Contenedor de los botones */
.botones {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px; 
}


/* Botones estilo */
.register-button,
.login-button {
  flex: 1;                /* mismo ancho para ambos */
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* Inicio sesion estilo */
.login-button {
  background: linear-gradient(270deg, #87417A, #34192F);
  color: #fff;
}

/* registro estilo */
.register-button {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
}



.ayuda{
  display: flex;
  justify-content: center;
  text-decoration: none !important;
  opacity: 0.6; 
}



@supports (-webkit-touch-callout: none){
  body{ background-attachment: scroll; }
}